@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Genebra, Tahoma, sem serifa;
    --fonte2: 'Passion One', cursiva;
    --fonte3: 'Sriracha', cursiva;
}

*{margin: 0;padding: 0;}

html,body{min-height: 100vh;}


header {
    background-color: black;
    color:white;
    font-family: var(--fonte2);
    text-align: center;

    h1{ font-family: var(--fonte2);
        font-size: 10vw;
        font-variant: small-caps;
        padding-top: 50px;
    }

    p{
        font-family: var(--fonte1);
        padding-bottom: 50px;
        font-size: 1em;
    }


}

header a, footer a {text-decoration: none;color: white; font-weight:900;}

header a:hover, footer a:hover{
    text-decoration: underline;
}


p {
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 2em;
    padding-bottom: 2em;

    
}


section{ 
    padding: 10vh 0px 10vh 35px;

}

section.normal{padding-bottom: 2em;}

.especial{
    display: inline-block;
    color: white;
    background-color: rgba(0,0,0,0.58);
    padding: 5px;
    text-shadow:1px 1px 0px rgb(0, 0, 0) ;
}

.img{
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
    background-size: cover;
    background-position: right;

}

#abelha{
    background-image: url(pacote-d012/imagens/background001.jpg);



}

#paginalivro{
    background-image: url(pacote-d012/imagens/background002.jpg);
 

}

footer{
    background-color: black;
    color: white;
    padding: center;
    text-align: center;
    p{
        font-family: var(--fonte1);
        font-size: 1em;
        padding: 10px;
        margin: auto;
    }}